.Button {
	cursor: pointer;
	height: 35px;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	-webkit-appearance: none;
	text-align: center;

	&:focus {
		outline: 0;
	}

	// border: 1px solid #9BA9FF;
	// background: #fff;
	// color: #9BA9FF;

	&.color-default {
		background: #F5FBF7;
		border: 1px solid #00B992;
		color: #00B992;
	}

	&.color-blue {
		background: #F6FBFF;
		border: 1px solid #86C3EE;
		color: #86C3EE;
	}

	&.color-green {
		background: #F5FBF7;
		border: 1px solid #00B992;
		color: #00B992;
	}

	&:disabled {
		background: #747474;
		border: 1px solid #eee;
		color: #eee;
	}
}