.EnrollDetailPage {
	width: 100%;
	height: 100%;
	justify-content: center;    
	align-items: center;

	.Enroll {
		position: relative;
		border-radius: 15px;
        padding: 20px 20px;
        min-height: 100%;

        .Top{
            .closeIcon{
                width: 18px;
                height: 18px;
                float: right;
            }
            .Title {
                width: 100%;
                height: auto;
                line-height: 35px;
                font-size: 20px;
                text-align: center;
                margin-bottom: 20px;

                .lectureIcon{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
            }

        }

        .Contents{
            min-height: 100%;
            margin-top: 50px;
            
                .pic{
                    height: 50px;
                    label {
                        height: 100%;
                        border: 1px solid #00B992;
                        background-color: #F5FBF7;
                        color: #00B992;
                        border-radius: 15px;
                        padding: 25px 17px 25px 17px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    
                    label:focus, label:hover {
                        cursor: pointer;
                        outline: none;
                    }
               }

            .item_title {
				font-size: 11px;
				color: #646464;
				padding-left: 5px;
				padding-bottom: 5px;
            }

            .text {
				width: 100%;
			}
            
            .wrap {
                margin-bottom: 15px;
            }

        }

        
    }

}